.nav1 span {
    display: flex ; 
    margin : 2px 20px 2px 20px ; 
}
.nav1 {
    display: flex;
    position: sticky;
    top : 0 ; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    background-color: rgba(255, 235, 205, 0.079);
    height: 10vh;
    color: rgb(64, 63, 63);
}
.contacterB {
    position: relative;
    left: 10px;
}
.landp {
    position: absolute;
    right: 2vw;
}
.nav1 img  {
    width: 22px; 
    position: relative; 
    right: 10px;
    bottom: 4px;
}
.catnav {
    text-align: center;
}
.handc span { 
    margin: 0px 10px;

}
.logoN {
    height: 40px;
    margin-right:50px ;
    margin-left: 20px;
}
.image-s {
    height: 50vh;
    
}
.slide2 {
    margin: 15px;
}
.container1 {
    height: 100%; 
    border : 1px black solid ; 
    width: 95vw;
    margin: auto;
    background: linear-gradient(to left,rgba(90, 93, 90, 0.198),rgba(153, 187, 153, 0.274)) ;
    box-shadow:  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.navprod {
    margin: auto;
    font-size: 1.1em;

}
.loginform input {
    color : black ; 
    font-weight: bold;
}
.formG {
    margin : 10px ; 
}
.hello{
    font-family: serif;
    color: black;
    font-weight: bold;
    position: relative;
    right: 20px;
    top: 7px;
}
.ligne {
    height: 1px;
    background-color: rgb(125, 123, 119);
    width: 90%;
    margin: 15px auto;
}
.sub-pr {
    background-color: transparent ; 
    color : black;  
    font-weight: bold;
    border : 2px gray solid; }
.produits {
    display: flex;
    justify-content: center ; 
    flex-wrap: wrap;
    
}
.produit {
    margin : 30px ; 

    
}
.img-pr {
    height: 200px;
    margin-bottom: 0px;
}
.panier {
    display: flex;
}
.panier span {
    position: relative;
    bottom: 2px;
}
