{% extends 'base.html'%} 
{% load static %}

{% block content %}
{% include "modal.html" %}
        <table class="table">
            <thead class="table-dark">
              <td>nom de produit</td>
              <td>prix</td>
              <td>Qautite</td>
              <td>total</td>
              <td>del or not</td>
            </thead>
            <tbody>
              {% for p in panier %}
              <tr>
                {% for t in p  %}
                <td>{{t}}</td>
                {% endfor %}
                <td><i class="bi bi-trash3">logo</i></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
  
{% endblock %}