{% extends 'base.html'%} 
{% block content %}
{% include "modal.html" %}
{% load static %}
    <div class="container1">
        {% include 'slide.html' %}   
        {% block nav %}
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <img class="logoN" src="{%static 'imgs/logo.png' %}">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 catnav navprod">
                
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    
    </nav>
        {% endblock %}   
    <div class="produits">
        {% include 'produit.html' %}
    </div>
    <div class="panier">
        {% include 'panier.html' %}
    </div>
    </div>
{% endblock %}