{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nomP}}</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/style16.css'%}">

</head>
<body>
    {% include 'nav.html' %}
    {% block nav %}
    {%  endblock %} 
    
    {% block content %}
    {% endblock %}
    <script src="{%static 'js/bootstrap.min.js'%}">

    </script>
    <script src="{%static 'js/script.js'%}">
    </script>
</body>
</html>