<div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crrer un compte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" class="loginform">
            {% csrf_token %}
            <div class="formG">
                {{ form.last_name  }}
            </div>
            <div class="formG">
                {{ form.first_name  }}
            </div>
            <div class="formG">
                {{ form.username  }}
            </div>
            <div class="formG">
                {{ form.email  }}
            </div>
            <div class="formG">
                {{ form.password1  }}
            </div>
            <div class="formG">
                {{ form.password2  }}
            </div>
            <div class="formG">
                {{ form.adresse }}
            </div>
            
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send message</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="loginM" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crrer un compte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" class="loginform">
            {% csrf_token %}
            <div class="formG">
              {{ form2.usernameL  }}
            </div>
            <div class="formG">
              {{ form2.passwordL }}
            </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send message</button>
      </div>
    </form>
    </div>
  </div>
</div>