{% load static %}
<nav>

    <div class="nav1">
        <span class="handc">
        <span class="homeB">
            <img class="person-login" src="{%static 'imgs/house-door.svg' %}">
            <a href="{%url 'test'%}">
            <h4 class="btn btn-secondary">
                Home
            </h4>
          </a>
        </span>
        <span class="contacterB">
            <img class="person-login" src="{%static 'imgs/person-lines-fill.svg' %}">
            <h4 class="btn btn-secondary">
                Contacter nous
            </h4>
        </span>
        {% if user.username == "admin" %}
        <span class="contacterB">
          <img class="person-login" src="{%static 'imgs/plus-square-fill.svg' %}">
          <h4 class="btn btn-secondary">
               Ajouter un produit
          </h4>
      </span>
      {% endif %}
    </span>
        <span class="landp">
        {% if user.is_authenticated %}
        <h4 class="hello">Hello  {{user.username}}</h4>
        <span class="contacterB">
          <img class="person-login" src="{%static 'imgs/box-arrow-left.svg' %}">
          <a href="{%url 'logout'%}">
          <h4 class="btn btn-secondary">
              Logout
          </h4>
        </a>
      </span>
        {% else %}
        <span class="loginB">
            <img class="person-login" src="{%static 'imgs/person.svg' %}">
            <h4 class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginM">Login</h4>
        </span>
        <span class="singinB">
          <img class="person-login" src="{%static 'imgs/box-arrow-in-right.svg' %}">
          <h4 class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#register">Signin</h4>
      </span>
      {% endif %}
      {% if user.is_authenticated %}
        <span class="panierB ">
            <img class="person-login" src="{%static 'imgs/cart.svg' %}">
           <a href="{% url 'test' %}panier" ><h4 class="btn btn-secondary panier">Panier<span class="nb-panier">{{nb_p}}</span></h4></a>
        </span>
      {% endif %}
        </span>
    </div>
    <div class="ligne"></div>
    