


<table class="table">
    <thead class="table-dark">
      <td>nom de produit</td>
      <td>prix</td>
    </thead>
    <tbody>
        <td>z1000</td>
        <td>2000000</td>
    </tbody>
  </table>