
{% load static  %}
{% for pr in prs %}
<div class="card produit" style="width: 18rem;">
    <img src="{%static 'imgs-pr'%}/{{pr.image}}" class="card-img-top img-pr" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{pr.nameP}}</h5>
      <h4 class="prix">{{pr.prixP}}</h4>
      <div class="ligne"></div>
      <p class="card-text">{{pr.discriptionP}}</p>
      <div class="ligne"></div>
      <button  onclick="add({{ pr.id }})" class="btn btn-primary sub-pr">Ajouter aux panier</button>
    </div>
  </div>
{% endfor %}